*   {
    padding: 0;
    margin: 0;
}

body    {
    background-color:#ccffdb;
}

h1  {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}

h2  {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}

a   {
    padding: 1em;
    text-decoration: none;
    color: palevioletred;
    
}

a:hover {
    color: lightsalmon;
}